# This GitHub action runs your tests for each commit push and/or PR. Optionally
# you can turn it on using a cron schedule for regular testing.
#
name: Tests
on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
  workflow_dispatch:
  # For systems with an upstream API that could drift unexpectedly (like most SaaS systems, etc.),
  # we recommend testing at a regular interval not necessarily tied to code changes. This will
  # ensure you are alerted to something breaking due to an API change, even if the code did not
  # change.
  # schedule:
  #   - cron: '0 13 * * *'
jobs:
  # ensure the code builds...
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: '1.15'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.3

    - name: Get dependencies
      run: |
        go mod download

    - name: Build
      run: |
        go build -v .

  # run acceptance tests in a matrix with Terraform core versions
  test:
    name: Matrix Test
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - ELK_VERSION: 7.3.1
            KIBANA_TYPE: KibanaTypeVanilla
            MAKELOGS_VERSION: '@elastic/makelogs@4.5.0'
            USE_XPACK_SECURITY: 0
            ELK_PACK: ""
            KIBANA_USERNAME: elastic
            KIBANA_PASSWORD: changeme

          - ELK_VERSION: 7.3.1
            KIBANA_TYPE: KibanaTypeVanilla
            MAKELOGS_VERSION: '@elastic/makelogs@4.5.0'
            USE_XPACK_SECURITY: 1
            ELK_PACK: ""
            KIBANA_USERNAME: elastic
            KIBANA_PASSWORD: changeme

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: '1.15'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.3

    - name: Get dependencies
      run: |
        go mod download

    - name: TF acceptance tests
      timeout-minutes: 10
      env:
        ELK_VERSION: ${{ matrix.ELK_VERSION }}
        KIBANA_TYPE: ${{ matrix.KIBANA_TYPE }}
        MAKELOGS_VERSION: ${{ matrix.MAKELOGS_VERSION }}
        USE_XPACK_SECURITY: ${{ matrix.USE_XPACK_SECURITY }}
        ELK_PACK: ${{ matrix.ELK_PACK }}
        KIBANA_USERNAME: ${{ matrix.KIBANA_USERNAME }}
        KIBANA_PASSWORD: ${{ matrix.KIBANA_PASSWORD }}

      run: |
        make cibuild

  test-logzio:
    name: Matrix Test
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - ELK_VERSION: 7.2.1
            KIBANA_TYPE: KibanaTypeLogzio
            MAKELOGS_VERSION: '@elastic/makelogs@4.5.0'
            USE_XPACK_SECURITY: 1
            ELK_PACK: ""
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: '1.15'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.3

    - name: Get dependencies
      run: |
        go mod download

    - name: TF acceptance tests
      timeout-minutes: 10
      env:
        ELK_VERSION: ${{ matrix.ELK_VERSION }}
        KIBANA_TYPE: ${{ matrix.KIBANA_TYPE }}
        KIBANA_URI: 'https://app-eu.logz.io'
        ELASTIC_SEARCH_PATH: '/kibana/elasticsearch/logzioCustomerKibanaIndex'
        MAKELOGS_VERSION: ${{ matrix.MAKELOGS_VERSION }}
        USE_XPACK_SECURITY: ${{ matrix.USE_XPACK_SECURITY }}
        ELK_PACK: ${{ matrix.ELK_PACK }}
        KIBANA_USERNAME: ${{ secrets.KIBANA_USERNAME }}
        KIBANA_PASSWORD: ${{ secrets.KIBANA_PASSWORD }}
        LOGZ_CLIENT_ID: ${{ secrets.LOGZ_CLIENT_ID }}
        LOGZ_IO_ACCOUNT_ID_1: 16533
        LOGZ_IO_ACCOUNT_ID_2: 14942
        KIBANA_DEBUG: 1
        TF_LOG: INFO

      run: |
        make cibuild
